<div class="form-group mt-2">
	<select id="categoryDropdown" asp-items="ViewBag.Categories" class="form-select">
		<option value="-1" selected>Tất cả</option>
	</select>
</div>

@Html.Partial("DuongMinhHieu_MainContent");